eureka:
  client:
    serviceUrl:
      defaultZone: "${EUREKA_URI:http://localhost:8761/eureka}"
  instance:
    preferIpAddress: true
server:
  error:
    include-message: always
  port: 3010
spring:
  application:
    name: post-service
  cloud:
    discovery:
      enabled: true
  data:
    mongodb:
      database: postDB
      port: 27017
  feign:
    circuitbreaker:
      enabled: true


